<footer class="footer">
  <small>
    <%= link_to t("name_book"), "http://www.railstutorial.org/" %>
    <%= t "write" %>
    <%= link_to t("author"), "http://www.michaelhartl.com/" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("page_about"), about_path %></li>
      <li><%= link_to t("page_contact"), contact_path %></li>
      <li><%= link_to t("page_new"), "http://news.railstutorial.org/" %></li>
    </ul>
  </nav>
</footer>
