<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %> 
    <title><%= full_title yield :title %></title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
    <%= render "layouts/shim" %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
      <%= link_to "English", locale: "en" %>
      <%= link_to "Vietnamese", locale: "vi" %>
      <%= render "layouts/footer" %>
    </div>
  </body>
</html>
