<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %> 
    <title><%= yield :title %> | Ruby on Rails Tutorial Sample App</title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <%= link_to "English", locale: "en" %>
    <%= link_to "Vietnamese", locale: "vi" %>
    <%= yield %>
  </body>
</html>
